<app-top></app-top>

<div id="mid">
  <div><p>Hey There, This is our team!</p></div>
  <div id="back-img"></div>
  <div id="back-img2"></div>
  <div id="aigerim" class="about-us">
    <div><img class="photos" src="assets/images/aigerim.png"></div>
    <div class="about-us-desc">
      <h4 class="name-style">Khamit Aigerim - Data Future Scientist</h4>
      <img class="quote-mark" src="assets/images/quotation-mark.png">
      <div class="quote"><p>Life consists of 10% of what happens to you and 90% of how you react to these events.</p></div>
      <p class="author">Charles Swindoll</p>
    </div>
  </div>
  <br>
  <div id="yrysdaulet" class="about-us">
    <div class="about-us-desc">
      <h4 class="name-style">Yrysdaulet Tursyngazy - Golang developer</h4>
      <img class="quote-mark" src="assets/images/quotation-mark.png">
      <div class="quote"><p>Life consists of 10% of what happens to you and 90% of how you react to these events.</p></div>
      <p class="author">Charles Swindoll</p>
    </div>
    <div><img class="photos" src="assets/images/aigerim.png"></div>
  </div>
  <br>
  <div id="abylkhaiyrkhan" class="about-us">
    <div><img class="photos" src="assets/images/aigerim.png"></div>
    <div class="about-us-desc">
      <h4 class="name-style">Abylkhaiyrkhan  - Future Data Scientist</h4>
      <img class="quote-mark" src="assets/images/quotation-mark.png">
      <div class="quote"><p>Life consists of 10% of what happens to you and 90% of how you react to these events.</p></div>
      <p class="author">Charles Swindoll</p>
    </div>
  </div>
</div>

<app-bottom></app-bottom>
