<app-top></app-top>

<div id="mid">
  <form>
    <label for="name">Name:</label>
    <br>
    <input type="text" id="name" required>
    <br>
    <label for="surname">Surname:</label>
    <br>
    <input type="text" id="surname" required>
    <br>
    <label for="email">Email:</label>
    <br>
    <input type="text" id="email" required>
    <br>
    <label for="phone-number">Phone number:</label>
    <br>
    <input type="text" id="phone-number" required>
    <br>
    <label for="password">Password:</label>
    <br>
    <input type="password" id="password" name="password" required>
    <br>
    <label for="password-again">Password again:</label>
    <br>
    <input type="password" id="password-again" name="password" required>
    <br>
    <div id="line"></div>
    <input type="submit" value="Sign up">
  </form>
</div>
<div class="shelf">
  <img id="bookshelf" src="assets\images\bookshelf.png">
</div>

<app-bottom></app-bottom>
