  <app-top></app-top>

  <div id="mid">
    <div>
      <fieldset>
        <label for="firstname">FirstName:</label>
        <br>
        <input type="text" [(ngModel)]="firstName" id="firstname">
        <br>
        <label for="lastname">LastName:</label>
        <br>
        <input type="text" [(ngModel)]="lastName" id="lastname">
        <br>
        <label for="username">Username:</label>
        <br>
        <input type="text" [(ngModel)]="username" id="username" >
        <br>
        <label for="email">Email:</label>
        <br>
        <input type="email" [(ngModel)]="email" id="email">
        <br>
        <label for="password">Password</label>
        <br>
        <input type="password" [(ngModel)]="password" id="password" name="password">
        <br>
        <div id="line"></div>
        <button (click)="signUp()">Sign up</button>
      </fieldset>
    </div>
  </div>
  <div class="shelf">
    <img id="bookshelf" src="assets\images\bookshelf.png">
  </div>

  <app-bottom></app-bottom>
