#mid {
  margin-left: 140px;
  margin-top: 180px;
  margin-bottom: 100px;
  border: 1px solid #202020;
  border-radius: 3px;
  padding: 30px;
  width: 300px;
  height: 500px;
  box-shadow:  0px 2px 6px rgba(0, 0, 0, 0.3);
}

label, input {
  display: block;
}

label {
  color: #202020;
  font-family: "Rockwell Extra Bold";
  font-size: 18px;
}
input {
  font-size: 18px;
  padding: 5px;
  width: 95%;
  color: #202020;
  font-family: "Rockwell Extra Bold";
  margin-top: -10px;
}
input[type=submit] {
  margin-left: 7px;
  margin-top: 35px;
  background-color: #202020;
  color: white;
  border-radius: 3px;
}

input[type=submit]:hover {
  box-shadow:  0px 2px 6px rgba(0, 0, 0, 0.3);
}

#line {
  margin-top: 18px;
  margin-left: 10px;
  width:280px;
  border-top: 1px solid #948f8f;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}
.shelf {
  margin-left:380px;
  margin-top: -160px;
  margin-bottom: 190px;
}
#bookshelf {
  width:850px;
  margin-top: -50%;
  margin-left: 100px;
}

.login {
  margin-top: 20px;
}

.login button{
  background-color: #202020;
  border-radius: 3px;
  color: white;
  font-family: "Rockwell Extra";
  width: 90%;
  padding:7px;
  justify-self: center;
  font-size: 16px;
  margin: 12px;
}
.login button:hover {
  box-shadow: 0px 2px 4px rgba(0.12, 0.12, 0.12);
}
