<div class="top">
  <div class="logo">
    <a routerLink=''><img id="logo" src="assets/images/logo.png"></a>
  </div>
  <div class="login" id="login-box">
    <a routerLink="/login"><button id="login">Log in</button></a>
  </div>
  <div class="login">
    <button id="signup">Sign up</button>
  </div>
  <div class="categories">
    <a routerLink='/categories'>Categories</a>
    <a href="">Best Sellers</a>
    <a href="">Fiction</a>
    <a href="">Nonfiction</a>
    <a href="">Kids</a>
    <a href="">Fantasy</a>
  </div>
</div>
