.top {
  display: flex;
  width: 100%;
  position: fixed;
  background-color: white;
  top:0;
  left:0;
  height: 12%;
  border-bottom:1.5px solid #202020;
}
#logo {
  margin-top: -12%;
  width: 18rem;
}
#login, #signup {
  border: none;
  border-radius: 5px;
  background-color: #202020;
  color: white;
  padding: 0.7rem 1rem;
  margin: 0.5rem;
  font-family:Rockwell Extra Bold;
  font-size: 1rem;
}
#login:hover, #signup:hover {
  border: 2px solid #E3B58F;
  border-radius: 0.2rem;
}
.categories {
  margin: auto 20% 0.3rem -72%;
}
.categories a{
  /*text-align: center;*/
  text-decoration: none;
  color: #202020;
  font-size: 1.2rem;
  margin-right: 3.2rem;
  margin-bottom: 0.2rem;
}
.categories a:hover{
  color: #E3B58F;
}
#login-box {
  margin-left: auto;
}
.login {
  margin: 0.4rem;
}
