.top {
  display: flex;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  background-color: white;
  top:0;
  left:0;
  height: 13%;
  border-bottom:1.5px solid #202020;
  background-color: white;
  z-index: 999;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo {
  margin-top: 8%;
  width: 18rem;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.categories-container {
}

.categories {
  position: absolute;
  bottom: 0;
  /*left:0;*/
  right:10%;
  left:24%;
}

.categories a{
  /*text-align: center;*/
  text-decoration: none;
  color: #202020;
  font-size: 1.2rem;
  margin-right: 9rem;
  margin-bottom: 0.2rem;
}
.categories a:hover{
  color: #E3B58F;
}

.login button{
  background-color: #202020;
  border-radius: 3px;
  color: white;
  font-family: "Rockwell Extra";
  width: 80px;
  padding:7px;
  font-size: 16px;
  margin: 12px;
}
.login button:hover {
  box-shadow: 0px 2px 4px rgba(0.12, 0.12, 0.12);
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.login-container {
  display: flex;
  justify-content: center;
}
