<div class="top">
  <div class="logo">
    <a routerLink=''><img id="logo" src="assets/images/logo.png"></a>
  </div>
  <div class="login" id="login-box">
    <a routerLink="/login"><button id="login">Log in</button></a>
  </div>
  <div class="login">
    <a routerLink="/signup"><button id="signup">Sign up</button></a>
  </div>
  <div class="categories">
    <a routerLink='/categories'>Genres</a>
    <a routerLink='/authors'>Authors</a>
    <a routerLink='/books'>Books</a>
    <a routerLink='/about-us'>About Us</a>
  </div>
</div>
