<footer>
  <div class="bottom">
    <div class="video">
      <video id="video" src="assets/images/video.mp4" controls autoplay loop></video>
    </div>
    <div class="follow-us">
      <p>Follow and Contact Us:</p>
      <ul>
        <li><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://www.pinterest.com" target="_blank"><i class="fab fa-pinterest"></i></a></li>
        <li><a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube"></i></a></li>
        <li><a href="https://www.facebook.com" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
        <li><a href="https://twitter.com" target="_blank"><i class="fab fa-telegram"></i></a></li>
      </ul>
    </div>
  </div>
</footer>
