.bottom {
  background-color: #202020;
  color: white;
  margin-bottom: -1.5rem;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
  height: 51rem;
}
.video {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
#video {
  background-color: white;
  margin-top: 120px;
  width: 800px;
  border: 20px solid white;
}

.follow-us {
  /*margin-top: 300px;*/
  /*margin-left: 430px;*/
}

.follow-us p {
  font-size: 22px;
  font-family: "Rockwell Extra Bold";
  margin-bottom: 10px;
  text-align: center;
}

.follow-us ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 435px;
}

.follow-us li{
  display: inline-block;
  margin-right: 10px;
}

.follow-us a{
  color: #333;
  text-decoration: none;
  font-size: 24px;
}

.follow-us i{
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #333;
  color: #fff;
  font-size: 25px;
  border-radius: 50%;
}

.follow-us a:hover i{
  background-color: #777;
}
