.bottom {
  background-color: #202020;
  color: white;
  margin-bottom: -1.5rem;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
  height: 40rem;
}

.bottom-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  bottom: 0;
  left:0;
}
.bottom-info p {
  font-size: 1.3rem;
  /*margin-right: 40px;*/
}
.icons-container {
  display: flex;
  justify-content: center;
}

.icons {
  width: 3.5rem;
  margin: -0.2rem;
}

.icons1 {
  display: flex;
  align-items: center;
  margin-top: -0.6rem;
  margin-right: 0.6rem;
}

.icons1 img {
  width: 2rem;
  margin-right: 0.3rem;
}

.icons1 p {
  font-size: 1rem;
  color: #E3B58F;
  margin: 0;
}
