<div class="bottom">
  <div id="info" class="bottom-info">
    <p>Follow us</p>
    <div class="icons-container">
      <img class="icons" src="assets/images/instagram.png">
      <img class="icons" src="assets/images/facebook.png">
      <img class="icons" src="assets/images/tiktok.png">
    </div>
    <p>Contact us</p>
    <div class="icons-container">
      <div class="icons1">
        <img src="assets/images/phone.png">
        <p>8 (777) 567-34-21</p>
      </div>
      <br>
      <div class="icons1">
        <img src="assets/images/mail.png">
        <p>wordwonders@gmail.com</p>
      </div>
    </div>
  </div>
</div>
