<app-top></app-top>
<div id="mid">
  <div id="left">
    <img id="book-image" src="{{book.image}}">
  </div>
  <div id="right">
    <h1>{{book.title}}</h1>
    <h3>{{book.author.name}}</h3>
    <h3>Year of publication: {{book.year_of_publication}}</h3>
    <h3>Number of pages: {{book.num_of_pages}}</h3>
    <p>{{book.description}}</p>
    <div class="rating">
      <i class="fa fa-star" [class.checked]="rating >= 1" (click)="setRating(1)"></i>
      <i class="fa fa-star" [class.checked]="rating >= 2" (click)="setRating(2)"></i>
      <i class="fa fa-star" [class.checked]="rating >= 3" (click)="setRating(3)"></i>
      <i class="fa fa-star" [class.checked]="rating >= 4" (click)="setRating(4)"></i>
      <i class="fa fa-star" [class.checked]="rating >= 5" (click)="setRating(5)"></i>
      <span class="average-rating" [(ngModel)]="book.rating_value">{{book.rating_value / book.rating_count}}</span>
    </div>
    <div id="buttons">
      <button><i class="fa fa-heart" ></i></button>
    </div>
  </div>
</div>

<app-bottom></app-bottom>
