#mid {
  display: flex;
  margin: 170px auto 100px;
  max-width: 1000px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: #ecebe8;
}

#left {
  position: relative;
  width: 40%;
  margin-right: 20px;
}

#book-image {
  width: 100%;
  border-radius: 5px;
}

#book-image::before {
  content: "";
  display: block;
  padding-bottom: 150%;
}

#right {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  line-height: 1.2;
}

h3 {
  font-size: 18px;
  font-weight: normal;
  color: #777;
  margin-top: 10px;
  margin-bottom: -5px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 20px;
  color: #777;
}

#buttons {
  margin-top: 10px;
}

button {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #202020;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

button:last-child {
  background-color: #202020;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.7), 0 0 0 4px #4caf50;
}
