<app-top></app-top>

<div id="mid">
  <div>
    <label for="username">Username:</label>
    <br>
    <input type="text"[(ngModel)]="username" id="username" name="username">
    <br>
    <label for="password">Password:</label>
    <br>
    <input type="password" [(ngModel)]="password" id="password" name="password">
    <br>
<!--    <div id="line"></div>-->
    <div class="login">
      <button routerLink="/user-profile" (click)="login()">Login</button>
    </div>
  </div>
</div>

<app-bottom></app-bottom>
