<app-top></app-top>
<div id="mid">
  <h1>Genres</h1>
  <div *ngFor="let genre of genres">
    <a routerLink="/genres/{{genre.id}}"><h2>{{genre.name}}</h2></a>
    <div class="swiper">
      <owl-carousel-o [options]="customOptions">
          <ng-template *ngFor="let book of genre.books" carouselSlide>
            <a routerLink="/books/{{book.id}}"><img style="width:200px; height: 300px" src="{{book.image}}" ></a>
          </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</div>
<app-bottom></app-bottom>
