<app-top></app-top>
<div id="mid">
  <h1>Genres</h1>
  <div *ngFor="let category of categories">
    <a routerLink="/category-detail/{{category.id}}"><h2>{{category.name}}</h2></a>
    <div class="swiper">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide><img src={{category.books}}></ng-template>
        <ng-template carouselSlide><img src={{category.books}}></ng-template>
        <ng-template carouselSlide><img src={{category.books}}></ng-template>
        <ng-template carouselSlide><img src={{category.books}}></ng-template>
        <ng-template carouselSlide><img src={{category.books}}></ng-template>
        <ng-template carouselSlide><img src={{category.books}}></ng-template>
        <ng-template carouselSlide><img src={{category.books}}></ng-template>
      </owl-carousel-o>
    </div>
  </div>
</div>
<app-bottom></app-bottom>
