.mid {
  width: 70%;
  margin-top: 7%;
  margin-bottom: 17%;
  margin-left: 3%;
}
#mid-photos1 {
  width: 32%;
  margin-top: 32%;
}

#mid-photos2 {
  width: 26%;
  margin-bottom: -18%;
  margin-left: -10%;
}
#mid-photos3 {
  width:27%;
  margin-bottom: 5%;
  margin-left: -150px;
}
#mid-photos4 {
  width: 250px;
  margin-bottom: 200px;
  margin-left: -470px;
}
#words {
  width: 600px;
  font-size: 25px;
  margin-left: 620px;
  margin-top: 80px;
  font-family: "Rockwell Extra";
}
#words-name {
  color: #202020;
  font-weight: bold;
}
#slogan {
  width: 900px;
  font-size: 30px;
  color: #202020;
  font-family: "Lucida Handwriting";
  margin-left: 400px;
  margin-top: -520px;
}
#reviews-part {
  display: flex;
  margin-right: -360px;
  margin-left: 20px;
}
#review {
  margin-top: 250px;
  margin-bottom: 50px;
  font-family: "Rockwell Extra";
  font-size: 30px;
  text-align: center;
  margin-right: -330px;
}

.reviews {
  width: 280px;
  height: 300px;
  padding: 40px;
  font-size: 18px;
  border: 14px solid #202020;
  margin-right: 50px;
  text-align: center;
  box-shadow: 6px 4px 6px rgba(0, 0, 0, 0.5);
}
.round-image {
  border-radius: 50%;
  width: 70px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}
.authors {
  font-family: "Rockwell Extra";
  font-weight: bold;
  font-size: 20px;
}

.line {
  border-bottom: 1px solid #202020;
}
