.mid {
  width: 800px;
  margin-top: 50px;
  margin-bottom: 200px;
  margin-left: 30px;
}
#mid-photos1 {
  width: 300px;
  margin-top:300px
}

#mid-photos2 {
  width: 250px;
  margin-bottom: -180px;
  margin-left: -100px;
}
#mid-photos3 {
  width:270px;
  margin-bottom: 50px;
  margin-left: -150px;
}
#mid-photos4 {
  width: 250px;
  margin-bottom: 200px;
  margin-left: -470px;
}
#words {
  width: 600px;
  font-size: 25px;
  margin-left: 620px;
  margin-top: 80px;
  font-family: "Rockwell Extra";
}
#words-name {
  color: #202020;
  font-weight: bold;
}
#slogan {
  width: 900px;
  font-size: 30px;
  color: #202020;
  font-family: "Lucida Handwriting";
  margin-left: 400px;
  margin-top: -520px;
}
